<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.tymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<!-- icons  -->
<!-- icons  -->


<body>
<div class="form">

    <form method="post" action="/register" th:object="${register_request}">
        <h2>Register</h2>
        <!-- Login -->

        <div class="input-box">
            <i class="fa fa-user" aria-hidden="true"></i>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Username">
        </div>

        <div class="input-box">
            <i class="fa fa-user" aria-hidden="true"></i>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <!-- Submit -->
        <div class="form-group">
            <label th:for="role"> Role</label>
            <select th:field="*{role}">
                <option th:each="roleType: ${role_types}"
                        th:text="${roleType.name}"
                        th:value="${roleType}"></option>
            </select>
        </div>
        <br>
        <!-- Help -->
        <button>
            Register
        </button>
        <br>
        <p class="message">Already registered? <a href="/login">Go to login!</a></p>
    </form>
</div>

</body>
</html>